##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/operation.js"></SCRIPT>
##设置参数
##-------------------------------------------------------------
##**********************
##当前操作区
##**********************
##显示当前操作及检索

#bodytag( Component "template=Tpl_BannerHeaderCom.vm" )
	#param( "title" "$action.getText('message.operation.sentList')" )
#end

##检索区
#hodeSysUI_TableBeginSearch("" "searchForm" "")
#set($trHeight="height=35")
#hodeSysUI_TrBeginMainBody(0)
	#hodeSysUI_showText("$action.getText('message.form.content')" 1 0 "objSearch.strContent" "$!hiddenParameter.get('objSearch.strContent')" 20 20 "")
	#hodeSysUI_optImg("search" 2 "left")
#hodeSysUI_TrEnd()

#hodeSysUI_MainBodyFoot(1)
#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "no" )
	#param( "hiddenSearchAreaCookie" "message_showReceiveListCookie" )
#end
##-------------------------------------------------------------
##**********************
##功能操作区与分页显示区
##**********************
##-------------------------------------------------------------
##**********************
##主体列表区
##**********************
#set( $addBtn = "no" )
#set( $delBtn = "yes" )
#bodytag( Component "template=Tpl_MainBtnPageCom.vm" )
	#param( "addBtn" "$!addBtn" )
	#param( "addBtnTitle" "$action.getText('message.operation.add')" )
	#param( "addBtnOnClick" "addDoc(document.frmMainList,'addForm.action','',new Array('objSearch.intID'),new Array('$!objSearch.intID'))" )
	#param( "delBtn" "$delBtn" )
	#param( "returnBtn" "no" )
	#param( "prtBtn" "no" )
	#param( "delBtnTitle" "$action.getText('global.operation.delete')" )
	#param( "delBtnOnClick" "deleteDoc(document.frmMainList,'del.action','','')" )
	#param( "formName" "frmPaginationDown" )
	#param( "actionName" "showSentList.action" )
	#param( "needHiddenParams" "true" )
	#param( "needPagination" 0)
#end

##主体列表区表头
#hodeSysUI_MainBodyHeader(1 "frmMainList" 0)
#set($trHeight="height=25")
##标题栏
#hodeSysUI_TrBeginMainBody(1)
	#hodeSysUI_TdCheckBoxMainTitle()
	#hodeSysUI_TdMainBody("$action.getText('message.form.content')" "center" "" 0)
	#hodeSysUI_TdMainBody("$action.getText('message.form.receiveUserIDList')" "center" "25%" 0)
	#hodeSysUI_TdMainBody("$action.getText('message.form.sentTime')" "center" "22%" 0)
#hodeSysUI_TrEnd()

##列表显示主体信息
#set($intNowCount=0)
#foreach($objInfo in $objInfoList)
	#set($intNowCount=$velocityCount)
		#if($intNowCount % 2 == 0)
			#hodeSysUI_TrBeginMainBody(2)
		#else
			#hodeSysUI_TrBeginMainBody(3)
		#end

		#hodeSysUI_TdCheckBoxMainBody(0  $objInfo.intID)
		#hodeSysUI_TdMainBody("<a href='./viewFormForSent.action?objInfo.intID=$objInfo.intID' target='_blank'>$!{objInfo.strContent}</a>" "left" "" 1)

		#set($userList = "")
		#if($!objInfo.strReceiveAccountList != "")
			#set($userList = "$userList $!objInfo.strReceiveAccountList")
		#end

	   #if($!objInfo.strReceiveUserNameList != "")
			#set($userList = "$userList $!objInfo.strReceiveUserNameList")
		#end


		#if($!objInfo.strReceiveDeptNameList != "")
			#set($userList = "$userList $!objInfo.strReceiveDeptNameList")
		#end

		#if($!objInfo.strReceiveRoleNameList != "")
			#set($userList = "$userList$!objInfo.strReceiveRoleNameList")
		#end

		#hodeSysUI_TdMainBody("$!userList" "center" "" 0)


		#hodeSysUI_TdMainBody("$!objInfo.dtmSentTime" "center" "" 0)

    #hodeSysUI_TrEnd()
#end

##填充表格
#hodeSysUI_fillMain(4)

##主体列表区表尾
#hodeSysUI_MainBodyFoot(1)

##-------------------------------------------------------------
##包含功能操作区与分页区
#set( $addBtn = "no" )
#set( $delBtn = "no" )
#bodytag( Component "template=Tpl_MainBtnPageCom.vm" )
	#param( "addBtn" "$!addBtn" )
	#param( "addBtnTitle" "$action.getText('message.operation.add')" )
	#param( "addBtnOnClick" "addDoc(document.frmMainList,'addForm.action','',new Array('objSearch.intID'),new Array('$!objSearch.intID'))" )
	#param( "delBtn" "$delBtn" )
	#param( "returnBtn" "no" )
	#param( "prtBtn" "no" )
	#param( "delBtnTitle" "$action.getText('global.operation.delete')" )
	#param( "delBtnOnClick" "deleteDoc(document.frmMainList,'del.action','','')" )
	#param( "formName" "frmPaginationDown" )
	#param( "actionName" "showSentList.action" )
	#param( "needHiddenParams" "true" )
	#param( "needPagination" 1)
#end

##########分页。
##hodeSysUI_showPage("showList.action" "frmPaginationDown1" $!addBtn "$action.getText('message.operation.add')" "no" "" 1)
##-------------------------------------------------------------
##页面尾
#parse("$action.getText('config.vmPath')/simple/Footer_mainbody.vm")
##-------------------------------------------------------------
##加载JavaScript
