<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- RBAC User -->
	<bean id="rbac_userIbatisService" class="com.hode.rbac.service.UserIbatisService">
		<property name="daoIbatis">
			<ref bean="daoIbatis" />
		</property>
		<property name="sqlMapNameSpace">
			<value>rbac.user</value>
		</property>
	</bean>

	<bean id="rbac_userIbatisServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="target">
			<ref local="rbac_userIbatisService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

    <!-- RBAC Group -->
	<bean id="rbac_groupIbatisService" class="com.hode.rbac.service.GroupIbatisService">
		<property name="daoIbatis">
			<ref bean="daoIbatis" />
		</property>
		<property name="sqlMapNameSpace">
			<value>rbac.group</value>
		</property>
	</bean>

	<bean id="rbac_groupIbatisServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="target">
			<ref local="rbac_groupIbatisService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- RBAC Role -->
	<bean id="rbac_roleIbatisService" class="com.hode.rbac.service.RoleIbatisService">
		<property name="daoIbatis">
			<ref bean="daoIbatis" />
		</property>
		<property name="sqlMapNameSpace">
			<value>rbac.role</value>
		</property>
	</bean>

	<bean id="rbac_roleIbatisServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="target">
			<ref local="rbac_roleIbatisService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>

	<!-- RBAC Privilege -->
	<bean id="rbac_privilegeIbatisService" class="com.hode.rbac.service.PrivilegeIbatisService">
		<property name="daoIbatis">
			<ref bean="daoIbatis" />
		</property>
		<property name="sqlMapNameSpace">
			<value>rbac.privilege</value>
		</property>
	</bean>

	<bean id="rbac_privilegeIbatisServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>
		<property name="target">
			<ref local="rbac_privilegeIbatisService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>




	<!-- RBAC PermissionService -->
	<bean id="rbac_permissionService" class="com.hode.rbac.service.PermissionService">
		<property name="userService">
			<ref bean="rbac_userIbatisService" />
		</property>
		<property name="groupService">
			<ref bean="rbac_groupIbatisService" />
		</property>
		<property name="privilegeService">
			<ref bean="rbac_privilegeIbatisService" />
		</property>
	</bean>

</beans>
