##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/jquery-1.8.3.js"></SCRIPT>
<script type="text/javascript">
	function usePersonRecord() {
		//alert("使用档案库信息");
		/*jQuery.ajax({
                url : "/hodeframe2012_hnmk/train/person/usePersonRecord.action",
                dataType : "text",
                type : "POST",
                success : function(data, textStatus, jqXHR) {
                	//alert("success");
                },
                error : function() {
                	alert("error");
                }
          	});*/
         window.location = "/hodeframe2012_hnmk/train/person/usePersonRecord.action";
	}

	function useNewAndUpdate() {
		//alert("使用以上信息并更新档案库");
		/*jQuery.ajax({
                url : "/hodeframe2012_hnmk/train/person/useNewAndUpdate.action",
                dataType : "text",
                type : "POST",
                success : function(data, textStatus, jqXHR) {
                	alert("success");
                },
                error : function() {
                	alert("error");
                }
          	});*/
     	window.location = "/hodeframe2012_hnmk/train/person/useNewAndUpdate.action";
	}
</script>

<table width="800" border="0" cellspacing="1" cellpadding="1" align="center" class='tableEditColor'>

		<tr>
			<td><font color="green"><h2>数据导入成功！<h2></font></td>
		</tr>

	#if($existStudents.size() > 0)
		<tr>
			<td>
				<font color="red">以下用户在档案库中已经存在：</font>
			</td>
		</tr>
		<tr>
			<th>用户名</th>
			<th>身份证号</th>
			<th>性别</th>
			<th>单位及部门</th>
			<th>职务</th>
			<th>文化程度</th>
			<th>身体状况</th>
			<th>年龄</th>
		</tr>
		#foreach($studentDetail in $existStudents)
			<tr>
				<td>$!studentDetail.strStudentName&nbsp</td>
				<td>$!studentDetail.strStudentIDCode&nbsp</td>
				<td>$!studentDetail.strStudentSex&nbsp</td>
				<td>$!studentDetail.strStudentPost&nbsp</td>
				<td>$!studentDetail.strStudentTitles&nbsp</td>
				<td>$!studentDetail.strStudentDegree&nbsp</td>
				<td>$!studentDetail.strStudentHealth&nbsp</td>
				<td>$!studentDetail.intStudentAge&nbsp</td>
			</tr>
		#end
		<tr>
			<td><input type="button" value="使用档案库信息" onclick="usePersonRecord()"></td>
			<td><input type="button" value="使用以上信息并更新档案库" onclick="useNewAndUpdate()"></td>
		</tr>
	#end
</table>

##-------------------------------------------------------------
##页面尾
#parse("$action.getText('config.vmPath')/simple/Footer.vm")