<script language="javascript" src="/hodeframe2012_hnmk/js/LodopFuncs.js"></script>
<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
	<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
</object>

<div id="print1">
	## 第一张
	<TABLE width="" border="0" align="center">
		<tr>
			<td align="left">
				#if ($!trainCertDetailModel.ifQRCode=="1")
					<img src="$!trainCertDetailModel.QRCodePath">
				#end

			</td>
			<td></td>
		</tr>
		<tr>
			<td rowspan="6" colspan="2" align="center" style="height: 82mm;width: 100mm;">
				#if ($!trainCertDetailModel.ifPic=="1")
					<img style="width: 35mm; height: 52mm;" src="$trainCertDetailModel.studentPic1Path">
				#end
			</td>
			<td align="center" style="font-size: 24px;height: 5mm;width: 100mm">备&nbsp&nbsp&nbsp&nbsp注</td>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
			<td style="width: 30mm;height: 12mm;">发证机关盖章:</td>
			<td></td>
		</tr>
		<tr>
			<td style="width: 30mm;height: 12mm;">发证日期：</td>
			<td>$trainCertDetailModel.certDate</td>
		</tr>
		<tr>
			<td>有效期：</td>
			<td style="width: 70mm;">自$trainCertDetailModel.certDate至$trainCertDetailModel.validDate</td>
		</tr>
		<tr>
			<td style="width: 30mm;height: 12mm;">证书编号：</td>
			<td>第$trainCertDetailModel.certCode号</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</TABLE>
</div>
	<TABLE width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
	<TR>
	<TD height="30" class="white10p"  align="center">
		<img src="/hodeframe2012_hnmk/images/operator/opt_print.gif" style="cursor:hand" onclick="print('print1')">&nbsp;&nbsp;
	</TD>
	</TR>
	</TABLE>


	<div id="print2_1">
	## 第二张 第一面
	<TABLE border="0" align="center" style="width: 200mm;">
		<tr>
			<td align="center" style="font-size: 24px;height: 10mm;width: 100mm">安全资格培训记录</td>
			<td align="center" style="font-size: 24px;height: 10mm;width: 100mm">再培训记录</td>
		</tr>
		<tr>
			#if($trainCertDetailModel.trainType == "培训")
			<td align="center">培训时间：$trainCertDetailModel.applyStartDate至$trainCertDetailModel.applyEndDate</td>
			<td align="center">培训时间：年月入至年月日</td>
			#else
			<td align="center">培训时间：年月入至年月日</td>
			<td align="center">培训时间：$trainCertDetailModel.applyStartDate至$trainCertDetailModel.applyEndDate</td>
			#end
		</tr>
	</TABLE>
	<TABLE border="1" align="center" cellpadding="6" cellspacing="0" bordercolor="#cecece" style="border-collapse:collapse;width: 190mm;border-top: none;border-bottom: none;border-left: none;border-right: none;">
		<tr style="height: 10mm;width: 190mm">
			<td align="center" style="font-size: 14px;font-weight: bold;">序号</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">课程名称</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">学时</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">成绩</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">备注</td>
			<td align="center" style="border-top: none;border-bottom: none;width: 10mm;">&nbsp</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">序号</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">课程名称</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">学时</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">成绩</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">备注</td>
		</tr>

		#if($trainCertDetailModel.trainType == "培训")
			#foreach($objInfo1 in $trainCertDetailModel.courseList)
				#set($intNowCount=$velocityCount)
				<tr style="height: 10mm;">
					<td align="center" style="font-size: 14px;">$intNowCount</td>
					<td align="center" style="font-size: 14px;">$objInfo1.courseName</td>
					<td align="center" style="font-size: 14px;">$objInfo1.courseTime</td>
					<td align="center" style="font-size: 14px;">合格</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="border-top: none;border-bottom: none;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
				</tr>
			#end
		#else
			#foreach($objInfo1 in $trainCertDetailModel.courseList)
				#set($intNowCount=$velocityCount)
				<tr style="height: 10mm;">
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
					<td align="center" style="border-top: none;border-bottom: none;">&nbsp</td>
					<td align="center" style="font-size: 14px;">$intNowCount</td>
					<td align="center" style="font-size: 14px;">$objInfo1.courseName</td>
					<td align="center" style="font-size: 14px;">$objInfo1.courseTime</td>
					<td align="center" style="font-size: 14px;">合格</td>
					<td align="center" style="font-size: 14px;">&nbsp</td>
				</tr>
			#end
		#end
		##补足9行
		#set($end=9 - $trainCertDetailModel.courseList.size())
		#foreach($i in [1..$end])
			<tr style="height: 10mm;">
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="border-top: none;border-bottom: none;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
				<td align="center" style="font-size: 14px;">&nbsp</td>
			</tr>
		#end
		<tr>
			<td align="left" colspan="5" style="height: 10mm;border-left: none;border-right: none;border-bottom: none;">培训单位（盖章）：</td>
			<td align="center" style="border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="left" colspan="5" style="height: 10mm;border-left: none;border-right: none;border-bottom: none;"><br>
				培训单位（盖章）：<br><br><br>
				审核机关（盖章）：$trainCertDetailModel.culDate
			</td>
		</tr>
	</TABLE>
	</div>

	<TABLE width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
	<TR>
	<TD height="30" class="white10p"  align="center">
		<img src="/hodeframe2012_hnmk/images/operator/opt_print.gif" style="cursor:hand" onclick="print('print2_1')">&nbsp;&nbsp;
	</TD>
	</TR>
	</TABLE>

	<div id="print2_2">
	<!-- 第二张第二面 -->
	<TABLE border="0" align="center" style="width: 200mm;">
		<tr>
			<td align="center" style="font-size: 24px;height: 10mm;width: 100mm">再培训记录</td>
			<td align="center" style="font-size: 24px;height: 10mm;width: 100mm"></td>
		</tr>
		<tr>
			<td align="center">培训时间：年月日至年月日</td>
			<td align="center"></td>
		</tr>
	</TABLE>
	<TABLE border="1" align="center" cellpadding="6" cellspacing="0" bordercolor="#cecece" style="border-collapse:collapse;width: 190mm;border-top: none;border-bottom: none;border-left: none;border-right: none;">
		<tr style="height: 10mm;width: 190mm">
			<td align="center" style="font-size: 14px;font-weight: bold;">序号</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">课程名称</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">学时</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">成绩</td>
			<td align="center" style="font-size: 14px;font-weight: bold;">备注</td>
			<td align="center" style="border-top: none;border-bottom: none;width: 10mm;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;width: 15%">姓&nbsp&nbsp&nbsp&nbsp名：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;width: 30%">$trainCertDetailModel.studentName</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">性&nbsp&nbsp&nbsp&nbsp别：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.sex</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">职&nbsp&nbsp&nbsp&nbsp称：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.titleLevel</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">文化程度：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.degree</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">身份证号：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.idCard</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">单位类型：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.unitType</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">资格类型：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.qualifications</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" colspan="2" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">单位及职务：</td>
			<td align="center" colspan="3" style="border-left: none;border-top: none;border-right: none;">$trainCertDetailModel.post$trainCertDetailModel.title</td>
		</tr>
		<tr style="height: 10mm;">
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="font-size: 14px;">&nbsp</td>
			<td align="center" style="border-top: none;border-bottom: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="center" style="font-size: 14px;border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
		</tr>
		<tr>
			<td align="left" colspan="5" style="height: 10mm;border-left: none;border-right: none;border-bottom: none;">
				培训单位（盖章）：<br><br><br>
				审核机关（盖章）：年月日
			</td>
			<td align="center" style="border-top: none;border-bottom: none;border-left: none;border-right: none;">&nbsp</td>
			<td align="left" colspan="5" style="height: 10mm;border-left: none;border-right: none;border-bottom: none;border-top: none;"><br>
			</td>
		</tr>
	</TABLE>
	</div>

	<TABLE width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
	<TR>
	<TD height="30" class="white10p"  align="center">
		<img src="/hodeframe2012_hnmk/images/operator/opt_print.gif" style="cursor:hand" onclick="print('print2_2')">&nbsp;&nbsp;
	</TD>
	</TR>
	</TABLE>

##JavaScript数据合法性校验
##加载校验JavaScript
#parse("$action.getText('config.vmPath')/jsvm/validator.js.vm")
##加载过渡效果JavaScript

##-------------------------------------------------------------
##页面尾
##parse("$action.getText('config.vmPath')/simple/Footer.vm")
</body>

<script type="text/javascript">
function print(page) {
	//var ms = new Date().getTime();
	//alert($trainCertDetailModel.studentPic1Path);
	//$("#studentPic1").attr("src", $trainCertDetailModel.studentPic1Path+"?temp="+ms);
	LODOP=getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
	LODOP.PRINT_INIT("证书打印");
	LODOP.SET_PRINT_PAGESIZE (1, "224mm", "164mm","");
	LODOP.ADD_PRINT_HTML(0,0,"100%","100%",document.getElementById(page).innerHTML);
	LODOP.PREVIEW();
}
</script>
</html>

