<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>河南煤矿安全培训管理系统</title>
<link href="images/1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<style>
body{margin:0; padding:0; font-size:12px; background-color:#FFFFFF; color:#FFFFFF; line-height:24px;}
.footer{ background-color:#299ae2; color:#FFFFFF; text-align:center; line-height:24px;}
</style>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="footer">版权所有：河南煤矿安全监察局</td>
  </tr>
</table>

##-------------------------------------------------------------
##页面尾
#parse("$action.getText('config.vmPath')/simple/Footer.vm")

<script type="text/javascript">

function stopMouse()
{
	return false;
}
document.oncontextmenu=stopMouse;

</script>