<HTML>
<HEAD>
<TITLE> 协同办公系统 - Loading...... </TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=GB2312">
</HEAD>
<BODY>

</BODY>
</HTML>
<SCRIPT LANGUAGE="JavaScript">
	document.location.href="../";
</SCRIPT>
