#parse("$action.getText('config.vmPath')/simple/Header_left.vm")

#hodeSysBean_checkInArr(11010100 $!permissionIDs $allow_11)	##三级培训班查看员
#hodeSysBean_checkInArr(11010200 $!permissionIDs $allow_12)	##三级培训班填报员

#hodeSysBean_checkInArr(11020100 $!permissionIDs $allow_21)	##省中心查看员
#hodeSysBean_checkInArr(11020200 $!permissionIDs $allow_22)	##省中心审批员

#hodeSysBean_checkInArr(11030100 $!permissionIDs $allow_31)	##公章管理员
##set($allow_11 = true)
##set($allow_12 = true)
##set($allow_21 = true)
##set($allow_22 = true)

##-------------------------------------------------------------
#hodeSysUI_leftFrameHeader("10")
<table width="181">

	<tr><td width="181" valign="top" class="left">
			<div class="left_bt">安全资格培训</div>

				<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td height="15"></td></tr></table>

				<table width="146" border="0" align="center" cellpadding="0" cellspacing="0">
						<tr><td height="10" colspan="3"></td></tr>
						<tr>
							<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/cdbj1_left.gif" width="25" height="34" /></td>
							<td width="145" background="/hodeframe2012_hnmk/images/hnmk/cdbj1_mid.gif" class="blackwz"><strong>考核申请</strong></td>
							<td width="9"><img src="/hodeframe2012_hnmk/images/hnmk/cdbj1_right.gif" width="9" height="34" /></td>
						</tr>
						#if($allow_12 && $user.intUserID != 24 && $user.intUserID != 25)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/addForm.action" target="mainFrame">考核申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/showCheckList.action?intSelectType=1" target="mainFrame">待上报考核申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/showCheckList.action?intSelectType=2" target="mainFrame">已上报考核申请</td>
							</tr>
						#end

						#if($allow_22)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/showCheckList.action?intSelectType=3" target="mainFrame">待审批考核申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/showCheckList.action?intSelectType=4" target="mainFrame">已审批考核申请</td>
							</tr>
						#end

						#if($allow_11 || $allow_21)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/showSearchList.action" target="mainFrame">查询考核申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/check/printTicket.action" target="mainFrame">打印准考证</td>
							</tr>
						#end





						<tr><td height="10" colspan="3"></td></tr>
						<tr>
							<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/cdbj1_left.gif" width="25" height="34" /></td>
							<td width="145" background="/hodeframe2012_hnmk/images/hnmk/cdbj1_mid.gif" class="blackwz"><strong>成绩管理</strong></td>
							<td width="9"><img src="/hodeframe2012_hnmk/images/hnmk/cdbj1_right.gif" width="9" height="34" /></td>
						</tr>
						#if(($allow_12 && $user.intUserID != 25 && $user.intUserID != 24) || $user.intUserID == 28)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/addImportForm.action" target="mainFrame">成绩导入</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/showCheckList.action?intSelectType=1" target="mainFrame">待上报成绩申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/showCheckList.action?intSelectType=2" target="mainFrame">已上报成绩申请</td>
							</tr>
						#end

						#if(($allow_22 && $user.intUserID != 25 && $user.intUserID != 24) || $user.intUserID == 28)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/showCheckList.action?intSelectType=3" target="mainFrame">待审批成绩申请</td>
							</tr>
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/showCheckList.action?intSelectType=4" target="mainFrame">已审批成绩申请</td>
							</tr>
						#end

						#if($allow_11 || $allow_21 || $user.intUserID == 28)
							<tr>
								<td width="25"><img src="/hodeframe2012_hnmk/images/hnmk/ar.gif" width="13" height="13" /></td>
								<td colspan=2 align='left' height=30 style="color:#000000;"><a href="../train/score/showDetailSearchList1.action" target="mainFrame">查询成绩</td>
							</tr>
						#end

				</table>


</td></tr></table>




#parse("$action.getText('config.vmPath')/simple/Footer_left.vm")