##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/operation.js"></SCRIPT>

#hodeSysBean_checkInArr(11010100 $!permissionIDs $allow_11)	##三级培训机构工作人员
#hodeSysBean_checkInArr(11010200 $!permissionIDs $allow_12)	##三级培训机构领导

#hodeSysBean_checkInArr(11020100 $!permissionIDs $allow_21)	##省局培训中心工作人员
#hodeSysBean_checkInArr(11020200 $!permissionIDs $allow_22)	##省局培训中心领导
#hodeSysBean_checkInArr(11020300 $!permissionIDs $allow_23)	##培训中心下属教学点工作人员
#hodeSysBean_checkInArr(11020400 $!permissionIDs $allow_24)	##省局人事培训处领导

##显示当前操作及检索
#bodytag( Component "template=Tpl_BannerHeaderCom.vm" )
	#param( "title" "课程设置" )
#end

#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "yes" )
#end
##-------------------------------------------------------------
##**********************
##信息编辑区
##**********************


 #rbac_getGroupModelById($user.intGroupID  $groupInfo)
 <form action="showList.action" method="post">
#hodeSysUI_EditBodyHeader("add.action" "return doData(v.exec())" "post" "yes")
   <tr width="100%">
	<TD align="left">培训对象：
	#set ($trainUtil = $webwork.bean("com.hode.train.util.TraUtil"))
    #if($allow_11)
    #set ($rtnList3 = $trainUtil.getBM(1))
    #else
    #set ($rtnList3 = $trainUtil.getBM(2))
    #end
    #set($resus=$resu)
     <select name="objSearch.intDictionary" style="width:210px;">
     <option value="0">==请选择==</option>
         #foreach($objInfo3 in $rtnList3)
		 #set($intNowCount=$velocityCount)
		 #if($objInfo3.intID==$resus)
         <option value="$objInfo3.intID" selected="selected">$objInfo3.strValue</option>
         #else
         <option value="$objInfo3.intID">$objInfo3.strValue</option>
         #end
        #end
     </select>
	   ## #if($intSelectType == 51 )
		##	#dictionary_getSelectKeyAndVal("objSearch.intDictionary" 2 "$objInfo.strTrainObject" "" 0 0)
	##	#else
		##	#dictionary_getSelectKeyAndVal("objSearch.intDictionary" 1 "$objInfo.strTrainObject" "" 0 0)
	##	#end
	<input type="submit" value="  查 询 ">
	</TD>
	<TD>

	</TD>
  </tr>
     <TR  class="trEditContent"><TD colspan=2>
				<TABLE width="100%" border="0" cellspacing="1" cellpadding="1" align="center" class='tableMainColor' id="table_1">
					 <TR class="trMainBodyTitle"  id="lawper" >
					 <td align="center" width="25%">培训课程</td>
					 <td align="center" width="25%">课时数</td>
					 <td align="center" width="25%">操作</td>
					 </TR>

			#foreach($tra in $traList)
			<tr class="trMainBodyContent">
			<TD align='center'>$tra.strCourseName</TD>
			<TD align='center'>$tra.intCourseNum</TD>
			<TD align='center'><a href="javascript:void(0)" onclick="deleteCourse($tra.intID,$resus)">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="updatess($tra.intID,$resus);">修改</a></TD>
			</tr>
			#end
			<TR class="trMainBodyContent">
			<td align="center" colspan="4">
				<input type="button" value="添加课程" onclick="showPopup(300,200);">
				<input type="button" value="复制课程" onclick="showPopup2(300,200);">
			</td>
		    </TR>

				</table>
	</td></tr>

	<div id="popupcontent" style="width:500px; height:300px">
     <strong style="width:100%;font-size:16px;text-align:center;height:60px">
                                     课&nbsp;程&nbsp;信&nbsp;息
      </strong>

    <strong style="width:100%; text-align:center;height:27px">培训对象：
     <select name="objInfo.intDictionary" id="intDictionary" style="width:210px;">
     <option value="0">==请选择==</option>
         #foreach($objInfo3 in $rtnList3)
		 #set($intNowCount=$velocityCount)
         <option value="$objInfo3.intID">$objInfo3.strValue</option>
        #end
     </select>
	</strong>
	 <strong style="width:100%; text-align:center;height:27px">
        培训课程：&nbsp;&nbsp;<input type="text" name="objInfo.strCourseName" id="strCourseName" style="width:210px;" >
      </strong>

       <strong style="width:100%; text-align:center;height:35px">
        课&nbsp;&nbsp;时&nbsp;&nbsp;数：&nbsp;<input type="text" name="objInfo.intCourseNum" id="intCourseNum" style="width:210px;" >
      </strong>

	  <strong style="width:100%; text-align:center;height:80px">

        <input type="button" value=" 保  存 " onClick="add();">
        <input type="button" value=" 取  消 " onClick="hidePopup();">

      </strong>
</div>


<div id="popupcontent2" style="width:500px; height:300px">
     <strong style="width:100%;font-size:16px;text-align:center;height:60px">
                                     复&nbsp;制&nbsp;课&nbsp;程
      </strong>

    <strong style="width:100%; text-align:center;height:27px">从培训对象：
     <select name="objInfo.intDictionaryFrom" id="intDictionaryFrom" style="width:210px;">
     <option value="0">==请选择==</option>
         #foreach($objInfo3 in $rtnList3)
		 #set($intNowCount=$velocityCount)
         <option value="$objInfo3.intID">$objInfo3.strValue</option>
        #end
     </select>
	</strong>
	 <strong style="width:100%; text-align:center;height:27px">
        复制到培训对象：
        <select name="objInfo.intDictionaryTo" id="intDictionaryTo" style="width:210px;">
     <option value="0">==请选择==</option>
         #foreach($objInfo3 in $rtnList3)
		 #set($intNowCount=$velocityCount)
         <option value="$objInfo3.intID">$objInfo3.strValue</option>
        #end
     </select>
      </strong>

	  <strong style="width:100%; text-align:center;height:80px">

        <input type="button" value=" 复  制 " onClick="add2();">
        <input type="button" value=" 取  消 " onClick="hidePopup2();">

      </strong>
</div>
</form>
##JavaScript数据合法性校验
##加载校验JavaScript
#parse("$action.getText('config.vmPath')/jsvm/validator.js.vm")
##加载过渡效果JavaScript

##-------------------------------------------------------------
##页面尾
##parse("$action.getText('config.vmPath')/simple/Footer.vm")
</body>

<style>
#popupcontent{   position: absolute;   visibility: hidden;   overflow: hidden;   border:1px solid #CCC;   background-color:#F9F9F9;   border:1px solid #333;   padding:5px;}
#popupcontent1{   position: absolute;   visibility: hidden;   overflow: hidden;   border:1px solid #CCC;   background-color:#F9F9F9;   border:1px solid #333;   padding:5px;}
#popupcontent2{   position: absolute;   visibility: hidden;   overflow: hidden;   border:1px solid #CCC;   background-color:#F9F9F9;   border:1px solid #333;   padding:5px;}
</style>
<script>
 function add(){
    var testa = document.getElementById("intDictionary");
    var s=testa.options[testa.selectedIndex].value;
    if(s==0){
    alert("请选择培训对象！");
    return;
    }
    var strCourseName=document.getElementById("strCourseName").value;
    if(null==strCourseName||""==strCourseName){
      alert("请输入培训课程！");
      return;
    }
    var intCourseNum=document.getElementById("intCourseNum").value;
    if(null==intCourseNum||""==intCourseNum){
      alert("请输入课时数！");
      return;
    }
   document.forms[0].action="addCourse.action";
   document.forms[0].submit();

 }

 function add2(){
    var testa = document.getElementById("intDictionaryFrom");
    var s=testa.options[testa.selectedIndex].value;
    var testa2 = document.getElementById("intDictionaryTo");
    var s2=testa2.options[testa2.selectedIndex].value;
    if(s==0 || s2 ==0){
    alert("请选择培训对象！");
    return;
    }
   document.forms[0].action="copyCourse.action";
   document.forms[0].submit();
 }

 function deleteCourse(id,resus) {
 	if(confirm("确认删除此课程信息？")) {
 		document.forms[0].action = "deleteCourse.action?objInfo.intID="+id+"&objSearch.intDictionary="+resus;
 		document.forms[0].submit();
 		//selectList();
 	} else {
 		return;
 	}
 }

 function selectList(){
  document.forms[0].action="showList.action";
   document.forms[0].submit();
 }

 function updatess(id,isd){
     window.open('selectUpdate.action?objSearch.intID='+id+'&objSearch.intDictionary='+isd,'','Width=500px;Height=300px')
 }

var baseText = null;
function showPopup(w,h){
    var popUp = document.getElementById("popupcontent");
    popUp.style.left = "300px";
   // if (baseText == null) baseText = popUp.innerHTML;
    //popUp.innerHTML = baseText +"<div id=\"statusbar\"></div>";
    //var sbar = document.getElementById("statusbar");
    popUp.style.visibility = "visible";
}
function showPopup2(w,h){
    var popUp2 = document.getElementById("popupcontent2");
    popUp2.style.left = "300px";
   // if (baseText == null) baseText = popUp2.innerHTML;
  //  popUp2.innerHTML = baseText +"<div></div>";
   // var sbar = document.getElementById("statusbar");
    popUp2.style.visibility = "visible";
}
function hidePopup(){
    var popUp = document.getElementById("popupcontent");
    popUp.style.visibility = "hidden";
}
function hidePopup2(){
    var popUp = document.getElementById("popupcontent2");
    popUp.style.visibility = "hidden";
}
</script>
</html>

