##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/operation.js"></SCRIPT>


##显示当前操作及检索


#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "yes" )
#end
##-------------------------------------------------------------
##**********************
##信息编辑区
##**********************


#rbac_getGroupModelById($user.intGroupID  $groupInfo)
<form action="addTrp.action" method="post">
#hodeSysUI_EditBodyHeader("add.action" "return doData(v.exec())" "post" "yes")
#set($showWidth = "20%")
#set($traPro=$trainingProgramsModel)
<div id="popupcontent" style="">

    <input type="hidden" name="objInfo.intID" value="$traPro.intID">
     <strong style="width:100%;font-size:16px;text-align:center;height:50px">
                                     收&nbsp;费&nbsp;信&nbsp;息
      </strong>
	 <strong style="width:100%; text-align:center;height:27px">
        收费项目：&nbsp;&nbsp;<input type="text" style="width:210px;" value="$traPro.strItemName" name="objInfo.strItemName" >
      </strong>


          <strong style="width:100%; text-align:center;height:35px">
        金&nbsp;额&nbsp;(元)：&nbsp;<input type="text" style="width:210px;" value="$traPro.strPrice" name="objInfo.strPrice" >
      </strong>

	  <strong style="width:100%; text-align:center;height:80px">

        <input type="button" value=" 保  存 " onClick="updatess()">
        <input type="button" value=" 取  消 " onClick="hidePopup();">

      </strong>
</div>
</form>

##JavaScript数据合法性校验
##加载校验JavaScript
#parse("$action.getText('config.vmPath')/jsvm/validator.js.vm")
##加载过渡效果JavaScript
<SCRIPT LANGUAGE="JavaScript">
// form fields description structure
var a_fields = {
         'objInfo.strTrainUnitName': {
                'l': '培训机构名称',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strTrainRange': {
                'l': '培训机构资质',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strTrainCode': {
                'l': '资质证书号码',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strTrainStartDate': {
                'l': '培训开始时间',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strTrainEndDate': {
                'l': '培训结束时间',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        }

},
o_config = {
        'to_disable' : ['btnSubmit', 'btnReset','btnCancel'],
        'alert' : 1
}
// validator constructor call
var v = new validator('frmOperation', a_fields, o_config);

</script>


<SCRIPT LANGUAGE="JavaScript">
//验证信息
function checknum()
{
	event.srcElement.value=event.srcElement.value.replace(/[^0-9.]/gi,"");
}

//添加序列号
function seralNum()
{
	var tableObj=document.getElementById("table_1");
	var tdstart=document.getElementById("lawper");
	var tdRow=tdstart.rowIndex + 1;
	var tableRows=tableObj.rows.length;
	var tdlast=tableRows - 2;
	var sunnum=0;
	for( ; tdRow <= tableRows - 2;  tdRow++)
	{
		tableObj.rows[tdRow].cells[0].childNodes(0).value=(tdRow);
	}

}

function addRow()
{
	//得到当前操作表格对象
	var tableObj=document.getElementById("table_1");
	//对象表格总行数
	var tableRows=tableObj.rows.length;

	//增加开始
	newRow=tableObj.insertRow(tableRows - 1);
	newRow.className="trMainBodyContent";

	//开始1
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" CLASS="inputText" size="5" readonly="true" align="middle ">';
	newRow.appendChild(col);
	//2
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strSubjectNameArr" CLASS="inputText" size="10"  >';
	newRow.appendChild(col);
	//3
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strSubjectTimeArr" CLASS="inputText" size="10"  >';
	newRow.appendChild(col);

	//4
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strTeacherNameArr" CLASS="inputText" size="10" >';
	newRow.appendChild(col);


	//4
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strTeacherDegreeArr" CLASS="inputText" size="10" >';
	newRow.appendChild(col);

	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strTeacherProfessionalArr" CLASS="inputText" size="10" >';
	newRow.appendChild(col);


	//4
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strTeacherTitlesArr" CLASS="inputText" size="10" >';
	newRow.appendChild(col);




	//4
	var col= document.createElement('<TD align=center>');
	col.innerHTML='<INPUT TYPE="text" NAME="trainApplyDetailInfo.strTeacherCodeArr" CLASS="inputText" size="10" >';
	newRow.appendChild(col);

	//8
	var col= document.createElement("<TD align='center'>");
	col.innerHTML="<input type='button' value='删除' onclick='delRow()' class='inputButton'>";
	newRow.appendChild(col);
	seralNum();
}

//删除行
function delRow()
{

	//得到当前操作表格对象
	var tableObj=document.getElementById("table_1");
	//当前是第几行
	var nowRowobj=event.srcElement.parentElement.parentElement;
	var nowRow=nowRowobj.rowIndex;
	if(confirm("确定删除此条记录吗？"))
	{
		tableObj.deleteRow(nowRow);
		seralNum();
	}
}

</script>

##-------------------------------------------------------------
##页面尾
##parse("$action.getText('config.vmPath')/simple/Footer.vm")
</body>

<script>
function hidePopup(){
   window.close();
}

 function updatess(){
   window.close();
   document.forms[0].action="updatePro.action";
   document.forms[0].submit();
   window.opener.listTrp();
 }
</script>
</html>

