##页面头
#parse("$action.getText('config.vmPath')/simple/Header.vm")

##-------------------------------------------------------------
##加载JavaScript

<TABLE width='400' align=center border='0' cellspacing='1' borderColor=#000000  borderColorDark=#ffffff cellpadding='0' >

	<TR><TD align=left height=20 >
		<P align=center>&nbsp;<b>定义条件</b></p>
	</TD></TR>
	<tr ><td  >
		<select size="1" name=ConditionType id=ConditionType onchange="doChange(this)" style="width:100">
			<option value="rbac_role" selected>处理者职务</option>
			<option value="rbac_group">处理者部门</option>
			<option value="rbac_user">处理者人员</option>
		</select>
		<select size="1" name=ConditionIS id=ConditionIS style="width:50">
			<option value="==" selected>是</option>
			<option value="!=">不是</option>
		</select>
		<select id=ConditionRole name=ConditionRole style="display:inline">
			<OPTION value="all"> 所有职务 </option>
		</select>
		<select id=ConditionGroup name=ConditionGroup style="display:none">
			<OPTION value="all"> 所有部门 </option>
			<OPTION value="-1"> 拟稿者所在部门 </option>
			<OPTION value="-2"> 提交者所在部门 </option>
		</select>
		<select id=ConditionUser name=ConditionUser style="display:none">
			<OPTION value="all"> 所有人员 </option>
			<OPTION value="-1"> 拟稿者本人 </option>
		</select>
	</td></tr>
	<tr ><td align="center" >
		<input type=button  class='button'  value="并且" name="bAnd" id="bAnd" onclick="doAnd()">
		<input type=button  class='button'  value="或者" name="bOr" id="bOr" onclick="doOr()">
		<input type=button  class='button'  value="（" name="bleft" id="bleft" onclick="doleft()">
		<input type=button  class='button'  value="）" name="bright" id="bright" onclick="doright()">
		&nbsp;
		<input type=button  class='button'  value="增加条件" name="bAddCondition" id="bAddCondition" onclick="doAddCondition()">
		<input type=button  class='button'  value="删除条件" name="bDelCondition" id="bDelCondition" onclick="doDelCondition()">

	</td></tr>
	<tr ><td align=center  >
		<select id=ConditionList name=ConditionList style=" width:100%" size=12></select>
	</td></tr>
	<tr><td align=left height=40  >
		<DIV align=left><font color=red>提示：</font><br>&nbsp;&nbsp;&nbsp;&nbsp1、选中某一项可以在该项后面加入条件</DIV>
	</td></tr>
	<tr ><td align="center" >
		<INPUT onclick=moveUp(ConditionList) type=button value="∧" class='button'>
		<INPUT onclick=moveDown(ConditionList) type=button value="∨" class='button'>

		<input type=button  class='button'  value="保存" name="btnSave" id="btnSave" onclick="SaveAndExit()">
		<input type=button  class='button'  value="放弃" name="btnClose" id="btnClose" onclick="window.close()">

		<input type=button  class='button'  value="清空" name="btnClose" id="btnClose" onclick="ClearAndExit()">

	</td></tr>
</TBODY></TABLE>
</html>

<SCRIPT LANGUAGE="JavaScript">

function moveUp(obj)
{
	with (obj)
	{
		if(selectedIndex==0)
		{
			/*options[length]=new Option(options[0].text,options[0].value)
			options[0]=null
			selectedIndex=length-1
			*/
		}
		else if(selectedIndex>=1)
		{
			moveG(obj,-1)
		}
	}
}
function moveDown(obj)
{
	with (obj)
	{
		if(selectedIndex==length-1)
		{
			/*
			var otext=options[selectedIndex].text
			var ovalue=options[selectedIndex].value
			for(i=selectedIndex; i>=1; i--)
			{
				options[i].text=options[i-1].text
				options[i].value=options[i-1].value
			}
			options[i].text=otext
			options[i].value=ovalue

			selectedIndex=0
			*/

		}
		else if(selectedIndex>=0 && selectedIndex<length-1)
			moveG(obj,+1)
	}
}
function moveG(obj,offset)
{
	with (obj)
	{
		desIndex=selectedIndex+offset
		var otext=options[desIndex].text
		var ovalue=options[desIndex].value
		options[desIndex].text=options[selectedIndex].text
		options[desIndex].value=options[selectedIndex].value
		options[selectedIndex].text=otext
		options[selectedIndex].value=ovalue
		selectedIndex=desIndex
	}
}

function doChange(thisSelectForm)
{
	if(thisSelectForm.value=="rbac_role")
	{
		ConditionRole.style.display="";
		ConditionGroup.style.display="none";
		ConditionUser.style.display="none";
	}
	else if(thisSelectForm.value=="rbac_group")
	{
		ConditionRole.style.display="none";
		ConditionGroup.style.display="";
		ConditionUser.style.display="none";
	}
	else if(thisSelectForm.value=="rbac_user")
	{
		ConditionRole.style.display="none";
		ConditionGroup.style.display="none";
		ConditionUser.style.display="";
	}
}
function operatorConditionList(key,operator)
{
	var ConditionList=document.getElementById("ConditionList");
	if(operator=="add")
	{
		try
		{
			if(ConditionList.selectedIndex>=0)
			{
				ConditionList.add(key,ConditionList.selectedIndex+1);
				ConditionList.selectedIndex=ConditionList.selectedIndex+1
			}
			else
			{
				ConditionList.add(key,ConditionList.selectedIndex);
				ConditionList.selectedIndex=ConditionList.selectedIndex+1
			}


		}
		catch(e)
		{
			alert("添加信息失败，原因是您没有选项可以添加");
			return false;
		}
	}
	else if(operator=="del")
	{
		try
		{
			var index=ConditionList.selectedIndex;
			if(index==ConditionList.length-1)
			{
				index=ConditionList.length-2;
			}
			ConditionList.remove(ConditionList.selectedIndex);
			ConditionList.selectedIndex=index

		}
		catch(e)
		{
			alert("删除信息失败，原因是您没有选择要删除的选项");
			return false;
		}
	}
}
function doAddCondition()
{
	var myEle = document.createElement("option") ;
	if(ConditionType.value=="rbac_role")		//申请者职位
	{
		if(ConditionRole.value=="")
		{
			alert("请选择比较值");
			return false;
		}
		else
		{
			if(ConditionRole.value=="all")
			{
				myEle.value=ConditionType.value+ "!=0";
			}
			else
			{
				myEle.value=ConditionType.value + ConditionIS.value + ConditionRole.value;
			}
			myEle.text=ConditionType(ConditionType.selectedIndex).innerText+" "
						+ ConditionIS(ConditionIS.selectedIndex).innerText +" "
						+ ConditionRole(ConditionRole.selectedIndex).innerText;
			operatorConditionList(myEle,"add");
		}
	}
	else if(ConditionType.value=="rbac_group")	//申请者部门
	{
		if(ConditionGroup.value=="")
		{
			alert("请选择比较值");
			return false;
		}
		else
		{
			if(ConditionGroup.value=="all")
			{
				myEle.value=ConditionType.value+ "!=0";
			}
			else
			{
				myEle.value=ConditionType.value + ConditionIS.value + ConditionGroup.value;
			}
			myEle.text=ConditionType(ConditionType.selectedIndex).innerText+" "
						+ ConditionIS(ConditionIS.selectedIndex).innerText +" "
						+ ConditionGroup(ConditionGroup.selectedIndex).innerText;
			operatorConditionList(myEle,"add");
		}

	}
	else if(ConditionType.value=="rbac_user")	//申请者姓名
	{

		if(ConditionUser.value=="all")
		{
			myEle.value=ConditionType.value+ "!=0";
		}
		else
		{
			myEle.value=ConditionType.value + ConditionIS.value + ConditionUser.value;
		}
		myEle.text=ConditionType(ConditionType.selectedIndex).innerText+" "
					+ ConditionIS(ConditionIS.selectedIndex).innerText +" "
					+ ConditionUser(ConditionUser.selectedIndex).innerText;
		operatorConditionList(myEle,"add");

	}
}

function doDelCondition()
{
	operatorConditionList("","del");
}
function doAnd()
{
	var myEle = document.createElement("option") ;
	myEle.value="&&";
	myEle.text="并且";
	operatorConditionList(myEle,"add");
}

function doOr()
{
	var myEle = document.createElement("option") ;
	myEle.value="||";
	myEle.text="或者";
	operatorConditionList(myEle,"add");
}

function doleft()
{
	var myEle = document.createElement("option") ;
	myEle.value="(";
	myEle.text="（";
	operatorConditionList(myEle,"add");
}

function doright()
{
	var myEle = document.createElement("option") ;
	myEle.value=")";
	myEle.text="）";
	operatorConditionList(myEle,"add");
}
function SaveAndExit()
{
	var s1,s2,s3;
	s1="";
	s2="";
	for(var j=0;j<ConditionList.length;j++)
	{
		s1=s1 + " " + ConditionList(j).value + " ";
		if (s2=="")
		{
			s2= ConditionList(j).text + " ";
		}
		else
		{
			s2=s2 + "\n" + ConditionList(j).text + " ";
		}
	}

	if(s1=="")
	{
		alert("请选择输入的条件");
		return false;
	}
	else
	{
		s3=s1;
		s3=s3.replace(/rbac_role/g,"'1'");
		s3=s3.replace(/rbac_group/g,"'1'");
		s3=s3.replace(/rbac_user/g,"'1'");
		s3=s3.replace(/and/g,"&&");
		s3=s3.replace(/or/g,"||");
		try
		{
			eval(s3);
			window.returnValue = s1 + "$#@&!" + s2;
			window.close();
		}
		catch(e)
		{
			alert("输入条件不合法，可能出现的原因如下：\\n1：在多个表达式之间没有“并且”和“或者”关系。\\n2：添加的条件中左右括号不匹配。\\n3：在连续的“并且”和“或者”之间没有表达式。");
			return false;
		}
	}
	return false;
}
function ClearAndExit()
{
	var ConditionList=document.getElementById("ConditionList");
	ConditionList.length = 0
	window.returnValue = "" + "$#@&!" + "";
	window.close();
}
function initSourceInfo(strInfo,control)
{
	var strRow=Array();
	var strCol=Array();
	var control=document.getElementById(control);

	if(strInfo!="")
	{
		strRow=strInfo.split(";");
		for(var i=0;i<strRow.length;i++)
		{
			var myEle = document.createElement("option") ;
			if(strRow[i])
			{
				strCol=strRow[i].split(",");
				myEle.value=strCol[0];
				myEle.text=strCol[1];
				control.add(myEle);
			}
		}
	}
}
initSourceInfo('$!strConditionRole','ConditionRole');
initSourceInfo('$!strConditionGroup','ConditionGroup');
initSourceInfo('$!strConditionUser','ConditionUser');
</SCRIPT>

