<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- webeditor -->
	<bean id="webeditorIbatisService" class="com.hode.webeditor.service.WebeditorService">
		<property name="daoIbatis">
			<ref bean="daoIbatis" />
		</property>
		<property name="sqlMapNameSpace">
			<value>webeditor</value>
		</property>
	</bean>

	<bean id="webeditorIbatisServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass">
			<value>true</value>
		</property>

		<property name="target">
			<ref local="webeditorIbatisService" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
</beans>
