##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/operation.js"></SCRIPT>


##显示当前操作及检索
#bodytag( Component "template=Tpl_BannerHeaderCom.vm" )
	#param( "title" "限制名单管理" )
#end

#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "yes" )
#end
##-------------------------------------------------------------
##**********************
##信息编辑区
##**********************


#rbac_getGroupModelById($user.intGroupID  $groupInfo)
#hodeSysUI_EditBodyHeader("add.action" "return doData(v.exec())" "post" "yes")
#set($showWidth = "20%")
#hodeSysUI_TrBeginMainBody(3)
	#hodeSysUI_showText("姓名" 1 1 "objInfo.strStudentName" "$!objInfo.strStudentName" 20 20 "")
#hodeSysUI_TrEnd()
#hodeSysUI_TrBeginMainBody(3)
	#hodeSysUI_showText("身份证" 1 1 "objInfo.strStudentIDCode" "$!objInfo.strStudentIDCode" 20 20 "")
#hodeSysUI_TrEnd()
#hodeSysUI_TrBeginMainBody(3)
	<TD class="tdEditContentLeft"><font color="red">* </font>有效期：</TD>
	<TD colspan=1 class="tdEditContentRight">
		<INPUT TYPE="text" NAME="objInfo.strEndDate" id="objInfo.strEndDate" CLASS="inputText" onclick="fPopUpCalendarDlg(this);" readonly size=7 VALUE="$!objInfo.strEndDate"  >
	</TD>
#hodeSysUI_TrEnd()

#hodeSysUI_TrBeginMainBody(3)
		#hodeSysUI_showTextArea("备注"  1 0 "objInfo.strRemark" "$!objInfo.strRemark" 4 65 "")
#hodeSysUI_TrEnd()

#hodeSysUI_EditBodyFoot(['save','reset','cancel'] "2")

##JavaScript数据合法性校验
##加载校验JavaScript
#parse("$action.getText('config.vmPath')/jsvm/validator.js.vm")
##加载过渡效果JavaScript
<SCRIPT LANGUAGE="JavaScript">
// form fields description structure
var a_fields = {
         'objInfo.strStudentName': {
                'l': '姓名',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strStudentIDCode': {
                'l': '身份证',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        },
		'objInfo.strEndDate': {
                'l': '有效期',  // label
                'r': true,    // required
                't': '',// id of the element to highlight if input not validated
                'm': null,     // must match specified form field
                'mn': 1,       // minimum length
                'mx':250       // maximum length
        }
},
o_config = {
        'to_disable' : ['btnSubmit', 'btnReset','btnCancel'],
        'alert' : 1
}
// validator constructor call
var v = new validator('frmOperation', a_fields, o_config);

</script>


##-------------------------------------------------------------
##页面尾
##parse("$action.getText('config.vmPath')/simple/Footer.vm")
</body>
</html>

