<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean name="dictionaryAction" class="com.hode.dictionary.action.DictionaryAction" singleton="false">
		<property name="ibatisService">
			<ref bean="dictionaryIbatisServiceProxy"/>
		</property>
	</bean>
</beans>
