##页面头
#parse("$action.getText('config.vmPath')/simple/Header_mainbody.vm")
<SCRIPT LANGUAGE="JavaScript" src="$action.getText('config.prjName')/js/operation.js"></SCRIPT>
##设置参数
##-------------------------------------------------------------
##**********************
##当前操作区
##**********************
##显示当前操作及检索

#bodytag( Component "template=Tpl_BannerHeaderCom.vm" )
	#param( "title" "考试成绩" )
#end



#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "yes" )
#end


#hodeSysUI_TableBeginSearch("" "searchForm" "")
#hodeSysUI_TrBeginMainBody(0)
	<TD width="120" class="tdEditContentLeft" >考试期次：</TD>
	<TD colspan=1 class="tdEditContentRight">
		<INPUT TYPE="text" NAME="objSearch.strScoreCount" id="objSearch.strScoreCount" CLASS="inputText" maxlength="20" size="20"   VALUE="$!objSearch.strScoreCount" >
	</TD>

	<td></td>
	<input type="hidden" name="objSearch.intSysIsClearSearch" value="1">
	#hodeSysUI_optImg("search" 2 "left")
#hodeSysUI_TrEnd()

#hodeSysUI_MainBodyFoot(1)
#bodytag( Component "template=Tpl_BannerFooterCom.vm" )
	#param( "noSearchArea" "no" )
	#param( "hiddenSearchAreaCookie" "message_showReceiveListCookie" )
#end



##-------------------------------------------------------------
##**********************
##功能操作区与分页显示区
##**********************

##-------------------------------------------------------------
##**********************
##主体列表区
##**********************
#set( $addBtn = "yes" )
#bodytag( Component "template=Tpl_MainBtnPageCom.vm" )
	#param( "addBtn" "no" )
	#param( "addBtnTitle" "$action.getText('rbac.group.operation.add')" )
	#param( "addBtnOnClick" "addDoc(document.frmMainList,'addForm.action','',new Array('objSearch.intID'),new Array('$!objSearch.intID'))" )
	#param( "delBtn" "no" )
	#param( "returnBtn" "no" )
	#param( "prtBtn" "no" )
	#param( "delBtnTitle" "$action.getText('global.operation.delete')" )
	#param( "delBtnOnClick" "deleteDoc(document.frmMainList,'del.action','',''" )
	#param( "formName" "frmPaginationDown" )
	#param( "actionName" "showCheckList.action" )
	#param( "needHiddenParams" "true" )
	#param( "needPagination" 0)
#end

##主体列表区表头
#hodeSysUI_MainBodyHeader(1 "frmMainList" 0)
##标题栏
#hodeSysUI_TrBeginMainBody(1)

	#hodeSysUI_TdMainBody("状态" "center" "" 0)
	#hodeSysUI_TdMainBody("考试期次" "center" "" 0)
	#hodeSysUI_TdMainBody("考试时间" "center" "" 0)
	#hodeSysUI_TdMainBody("考试人数" "center" "" 0)
	#hodeSysUI_TdMainBody("实际导入人数" "center" "" 0)
	#hodeSysUI_TdMainBody("补考人数" "center" "" 0)

#hodeSysUI_TrEnd()

##列表显示主体信息
#set($intNowCount=0)
#foreach($objInfo in $objInfoList)
	#set($intNowCount=$velocityCount)
		#if($intNowCount % 2 == 0)
			#hodeSysUI_TrBeginMainBody(2)
		#else
			#hodeSysUI_TrBeginMainBody(3)
		#end



		#if($objInfo.intCheckFlag == 0)
			<td width="60" align='center'><font color='red'>待提交</font></td>
		#elseif($objInfo.intCheckFlag == 1)
			<td width="60" align='center'><font color='blue'>待审核</font></td>
		#elseif($objInfo.intCheckFlag == 9)
			<td width="60" align='center'><font color=''>已审核</font></td>
		#else
			<td width="60" align='center'>&nbsp;</td>
		#end

		#hodeSysUI_TdMainBody("<a href='viewForm.action?objInfo.intID=$objInfo.intID'>$!objInfo.strScoreCount" "center" "" 0)

		#hodeSysUI_TdMainBody("$!objInfo.strScoreDate" "center" "" 0)

		#hodeSysUI_TdMainBody("$!objInfo.strScoreUseNum" "center" "" 0)
		#hodeSysUI_TdMainBody("$!objInfo.intScoreUseNum" "center" "" 0)
		#hodeSysUI_TdMainBody("$!objInfo.intScoreUseNum1" "center" "" 0)

    #hodeSysUI_TrEnd()
#end


##主体列表区表尾
#hodeSysUI_MainBodyFoot(1)

##-------------------------------------------------------------
 <br>
##包含功能操作区与分页区
#set( $addBtn = "no" )
#set( $delBtn = "no" )
#bodytag( Component "template=Tpl_MainBtnPageCom.vm" )
	#param( "addBtn" "$!addBtn" )
	#param( "addBtnTitle" "$action.getText('global.operation.add')" )
	#param( "addBtnOnClick" "addDoc(document.frmMainList,'addForm.action','',new Array('objSearch.intID'),new Array('$!objSearch.intID'))" )
	#param( "delBtn" "$delBtn" )
	#param( "returnBtn" "no" )
	#param( "prtBtn" "no" )
	#param( "delBtnTitle" "$action.getText('global.operation.delete')" )
	#param( "delBtnOnClick" "deleteDoc(document.frmMainList,'del.action','','')" )
	#param( "formName" "frmPaginationDown" )
	#param( "actionName" "showSearchList.action" )
	#param( "needHiddenParams" "true" )
	#param( "needPagination" 1)
#end

##页面尾
#parse("$action.getText('config.vmPath')/simple/Footer.vm")
##-------------------------------------------------------------
##加载JavaScript
